absl-py==0.13.0
astor==0.8.1
astunparse==1.6.3
Authlib==0.15.4
bce-python-sdk==0.8.60
cached-property==1.5.2
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
click==8.0.1
colorama==0.4.4
cryptography==3.4.7
flake8==3.9.2
Flask==2.0.1
Flask-Babel==2.0.0
flatbuffers==1.12
gast==0.4.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
grpcio==1.34.1
h5py==3.1.0
idna==2.10
importlib-metadata==4.5.0
itsdangerous==2.0.1
Jinja2==3.0.1
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
lmdb==1.2.1
Markdown==3.3.4
MarkupSafe==2.0.1
opencv-contrib-python==4.2.0.32
opencv-python==4.2.0.32
opt-einsum==3.3.0
paddlepaddle==2.0.0
pre-commit==2.13.0
pycparser==2.20
python-Levenshtein==0.12.2
requests==2.25.1
tensorboard==2.5.0
tensorflow==2.5.0
tensorflow-estimator==2.5.0
termcolor==1.1.0
typing-extensions==3.10.0.0
urllib3==1.26.5
visualdl==2.2.0
Werkzeug==2.0.1
wincertstore==0.2
wrapt==1.12.1
zipp==3.4.1
