<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="jumbotron text-center container">
      <h1> Hello! {{ name }}</h1>
      <p> Please select to see a static feed or live feed: </p>
      <form action="/staticfeed/" method="post">
        <div class="text-center d-flex justify-content-center">
          <button type="submit" class="btn btn-primary" name="Static Feed" value="static">Static Feed</button>
        </div>
      </form>
        <br>
      <form action="/livefeed/" method="post">
        <div class="text-center d-flex justify-content-center">
          <button type="submit" class="btn btn-primary" name="Live Feed" value="live">Live Feed</button>
        </div>
      </form>
    </div>
  </body>  
