<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      #container {
        margin: 0px auto;
        width: 500px;
        height: 375px;
        border: 10px #333 solid;
      }
      #videoElement {
        width: 500px;
        height: 375px;
        background-color: #666;
      }
    </style>
  </head>
  <body>
  <div class="jumbotron text-center container">
    <h1> Hello! {{name}}</h1>
    <h4> Webcam Feed </h4>
    <p> My ugly mug LIVE! </p>
    <video autoplay="true" id="videoElement">
    </video>
  <script>
    var video = document.querySelector("#videoElement");

    if (navigator.mediaDevices.getUserMedia) {
    navigator.mediaDevices.getUserMedia({ video: true })
        .then(function (stream) {
        video.srcObject = stream;
        })
        .catch(function (error) {
        console.log("Something went wrong!");
        });
    }
  </script>
  </div>
  </body>