<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
  <div class="jumbotron text-center container">
    <h1> Hello! {{name}}</h1>
    <h4> Here's a video for you! </h4>
    <p> I'm the dude with the hat! </p>
    <video  width="650" height="480" controls>
        <source src= "\static\videos\fallofheroes.mp4" type="video/mp4" />
    </video>
  </div>
  </body>  
